body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: maroon;
    
}

.contenido{
    text-align: center;
    border: 3px solid rgb(0, 132, 255);
}
